.listContainer{

}

.peopleDiv{
	padding: 5px 10px;
	display: flex;
	justify-content: space-between;
}

.listDisplay{
	padding: 5px 10px;
	display: flex;
	align-items: center;
}

.listDisplay:hover{
	cursor: pointer;
	background-color: #585858;
}

.checkboxList,.checkboxPeople{
	zoom:1.5;
}

.deleteUsers{
	font-size: 24px;
	color: #fff;
}

.deleteUsers:hover{
	cursor: pointer;
	color: #fff;
	text-shadow:1px 1px 1px #000;
}